

.o_list_view.o_view_controller table.o_list_table thead th {
    text-align: center !important;
}

.o_list_view.o_view_controller table.o_list_table thead th .d-flex {
    justify-content: center !important;
}

.o_list_view.o_view_controller table.o_list_table thead th span {
    text-align: center !important;
}

.o_list_view.o_view_controller table.o_list_table tbody td.o_data_cell {
    text-align: left !important;
}

.o_list_view.o_view_controller table.o_list_table tbody td.o_data_cell span,
.o_list_view.o_view_controller table.o_list_table tbody td.o_data_cell div {
    text-align: left !important;
}

.o_list_view.o_view_controller table.o_list_table tbody td.o_list_number {
    text-align: left !important;
    padding-left: 12px !important;
}

.o_list_view.o_view_controller table.o_list_table tbody td[name="duration_months"] {
    text-align: left !important;
    padding-left: 12px !important;
}

.o_list_view.o_view_controller table.o_list_table tbody td.o_handle_cell {
    text-align: center !important;
}

.o_list_view.o_view_controller table.o_list_table tbody td.o_data_cell input {
    text-align: left !important;
    padding-left: 8px !important;
}

.o_list_view.o_view_controller table.o_list_table tbody td.o_list_many2one {
    text-align: left !important;
}

.o_list_view.o_view_controller table.o_list_table tbody td.o_list_char {
    text-align: left !important;
}