.o_list_view.nk_salary_policies_list .o_list_table thead th {
    text-align: center !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.o_list_view.nk_salary_policies_list .o_list_table thead th .o_column_title {
    text-align: center !important;
    justify-content: center !important;
}

.o_list_view.nk_salary_policies_list .o_list_table thead th.o_list_controller_column {
    text-align: center !important;
}

.o_list_view.nk_salary_policies_list .o_list_table thead th span.d-block {
    text-align: center !important;
}

.o_list_view.nk_salary_policies_list .o_list_table tbody td {
    text-align: left !important;
    padding-left: 8px !important;
}

.o_list_view.nk_salary_policies_list .o_list_table thead th.o_optional_columns_dropdown {
    text-align: center !important;
}

@media screen and (max-width: 768px) {
    .nk_salary_policies_list {
        overflow-x: auto !important;
    }
}