.o_list_view.nk_salary_policies_list .o_list_table thead th {
    text-align: center !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.o_list_view.nk_salary_policies_list .o_list_table thead th .o_column_title {
    text-align: center !important;
    width: 100% !important;
    display: block !important;
}

.o_list_view.nk_salary_policies_list .o_list_table thead th.o_list_controller_column {
    text-align: center !important;
}

.o_list_view.nk_salary_policies_list .o_list_table thead th .o_resize {
    text-align: center !important;
}

.o_list_view.nk_salary_policies_list .o_list_table thead th span {
    display: inline-block !important;
    width: calc(100% - 10px) !important;
    text-align: center !important;
}

.o_list_view.nk_salary_policies_list .o_list_table tbody td {
    text-align: left !important;
    padding-left: 8px !important;
}

.o_list_view.nk_salary_policies_list .o_list_table thead th.o_optional_columns_dropdown {
    text-align: center !important;
}

.o_list_view.nk_salary_policies_list .o_list_table .o_resize_overlay {
    display: none !important;
}

.o_list_view.nk_salary_policies_list .o_list_table .ui-resizable-helper {
    opacity: 0 !important;
}

.o_list_view.nk_salary_policies_list .o_list_table thead th.ui-resizable-resizing {
    background: transparent !important;
}

.o_list_view.nk_salary_policies_list .o_list_table .o_resize {
    opacity: 0.3 !important;
}

.o_list_view.nk_salary_policies_list .o_list_table .o_resize:hover {
    opacity: 1 !important;
}